<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include("./partials/header.ejs")  %>
    <main class="container my-4">
        <h1>Blooger</h1>
        <hr>
        <h3>Blogger is a website where you can write your blog and publish in home, Blogger also have some more cool features</h3>
        <ul>
        <li>Blooger allow you read all blogs</li>
        <li>Blooger allow you rewrite all blogs</li>
        <li>Blooger allow you remove all blogs</li>
        <li>Blooger allow you (w)rite all blogs</li></ul>
        <h3>The fact you must know is it doesn't use any DB, Yes you read it right this blog website is DBless,Feel magical right  that's what make it stand out from other blog sites you may have a doubt(if you are a developer) that,<br> How it stores the very first thing it doesn't store in any storage or DB it use variables to store the blog, this is just awesome right.<br> The only one minus for this website is the blog that are created are only available untill the server runs because it uses variables to store.  </h3>
        <hr>
        <h2>Info about Creation</h2>
        <p>This website is created only using</p>
        <ol>
        <li>Node.js</li>
        <li>express.js</li>
        <li>ejs-(embeded javascript)</li>
        <li>CSS and bootstrap</li></ol>
        <h3>This website is created by <b>Dinesh Kumar.K</b> Who called himself a Fullstack developer</h3>
    </main>
     <%- include("./partials/footer.ejs")  %>
</body>
</html>